/* * { background-color: rgb(200, 100, 155); color: rgb(208, 255, 0);} */
#mainh {
    text-align: center;
    text-decoration: underline;
    color: red;
    background-color: burlywood;
    text-shadow:rgb(12, 7, 1)
}
#div1 label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}