#row1{
    background-color: rgb(138, 70, 194);
}
#mainTable {
    background-color: burlywood;
}
#speakerRow {
    background-color: rgb(94, 204, 136);
}
#talkRow {
    background-color: cadetblue;
}
#copyright{
    background-color: rgb(111, 124, 136);
}